
/*BASICS*/

body {
    font-family: 'Roboto', sans-serif;	font-size: 2rem;
	line-height: 1.5rem;	

}


/*HEADER*/


header {
   
	background-color: #f2ece1;
	background-repeat: no-repeat;
	background-position: center;
	overflow: hidden;
}

header img {
	width: 20rem;
		display: block;
    	padding-top: 1.5rem;
    	padding-left: 1.7rem;
    	padding-bottom: 1.5rem;
    	float:left;
    	}

header i {
	float:right;
	padding: 2rem 1.5rem 0% 5%;
	color:#000;
	
}

@media screen and (min-width: 47.5em){
	svg {
		width: 20%;
		align-content: center;
	}
}


/*MAIN*/

.content {
	margin: auto;
	padding: 0 5%; 
	max-width: 500px;
	align-content: center; 
	overflow: hidden;
} 


main h1 {
	font-family: 'Dosis', sans-serif;
	font-size: 2rem;
	font-weight: 100;
	line-height: 2.5rem;
	text-align: left;
	margin-top: 4rem;
	margin-bottom: 2rem;
	background-image: url("../img/blue-frosting-stroke.png");
	background-size: 30rem;
	background-repeat: no-repeat;
	padding: 1rem;
}

.supplies {
	margin-top: 3rem;
}

main h2{
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	margin-top: 5rem;
	color: #74a4c3;
}

main h3{
	font-family: 'Dosis', sans-serif;
	font-weight: 100;
	font-size: 1.5rem;
	text-align: center;
}

main p {
	font-size: 1rem;
	font-weight: 100;
	text-align: justify;
}

main .subheader {
	font-size: .9rem;
	margin-bottom: 2.5rem;
	
}

.flair p{
	text-align: justify;
	text-align: center;
	line-height: 1.7rem;
}


.flair {
	background-image: url("../img/flair-stroke.png");
	background-size: 37rem;
	background-repeat: no-repeat;
	
	margin:auto;
	margin-bottom: 5rem;
	margin-top: 1.5rem;
	max-width: 500px;

	padding: 2rem;
	padding-top: 1rem;

	
}

@media screen and (min-width: 37.5rem) {
	.floatedLeft {
		float:left;
		width:50%;
	}

	.floatedRight{
		float: right;
		width: 50%;
	}
}

ul {
	font-size: .9rem;
	width:50%;
}

ol {
	font-size: .9rem;
	overflow: hidden;
	padding-bottom: 1rem;
}

.bottom {
	margin: auto;
	margin-bottom: 3rem;
	padding: 0 30%; 
	max-width: 155px;
	align-content: center; 
	overflow: hidden;
	color: #74a4c3;
	font-size: 4rem;
}

.fa-long-arrow-left {
	float:left;
	display:inline-block;
	color: #74a4c3;

}

.fa-long-arrow-right {
	float:right;
	display: inline-block;
	color: #74a4c3;


}


/*FOOTER*/
footer{

 	font-family: 'Roboto', sans-serif;	font-size: 2rem;
 	font-size: 1rem;
 	
	padding: 1rem 3%;
	padding-bottom: .5rem;
	margin-top: 1.5rem;
	color:#000;
 	background-color:#f2ece1;
 	overflow: hidden;

}

footer .fa-pinterest {
	position: absolute;
	left: 85%;
	bottom:-70.4rem;
}

footer .fa-instagram  {
	position: absolute;
	left: 90%;
	bottom:-70.4rem;
}

footer .fa-facebook {
	position: absolute;
	left: 95%;
	bottom:-70.4rem;
}

@media screen and (min-width: 37.5rem) {
	footer {
		overflow: hidden;
		position: absolute;
		width: 96%;
		bottom:-70rem;

	}

	footer .fa-pinterest {
	position: absolute;
	left: 85%;
	bottom:1.5rem;
	}

	footer .fa-instagram  {
	position: absolute;
	left: 90%;
	bottom:1.5rem;
	}

	footer .fa-facebook {
	position: absolute;
	left: 95%;
	bottom:1.5rem;
	}
}

@media screen and (min-width: 2000px){

footer {
		overflow: hidden;
		position: absolute;
		width: 96%;
		bottom:-0rem;

	}

}